/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

/*https://www.youtube.com/watch?v=RSIclWvNTdQ&ab_channel=Academind*/

html,
body {
  max-width: 100%;
  background-color: black;
  /* overflow-x: hidden; */
}

#header {
  position: absolute;
  width: 100%;
  height: 50px;
  margin-left: 0;
  padding: 0;
  margin-bottom: auto;
  border-bottom: 3px solid #ff9f0e;
  margin-right: 1rem;
}

#header img {
  margin-top: 1rem;
  margin-left: 15%;
}

body {
  margin-right: 0rem;
  display: grid;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.about-element ul {
  list-style: none;
}

.element {
  padding-bottom: 1rem;
  border-top-width: 0.13rem;
  border-top-style: solid;
  border-top-color: rgb(66, 66, 66);
}

nav {
  grid-area: sidebar;
  padding: 0;
}

nav a:hover,
nav a:focus {
  text-decoration: none;
}

.topnav {
  width: 100%;
  justify-content: center;
  overflow: auto;
  margin-top: 5em;
  background-color: #ff9f0e;
}

.topnav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

.dropdown {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  float: left;
  overflow: hidden;
}

.topnav .icon {
  display: none;
}

/* Dropdown button */

.dropdown .dropbtn {
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
  overflow: hidden;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #494b4b;
}

.dropdown-content {
  width: 100%;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  overflow: hidden;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  justify-content: center;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #494b4b;
}

.dropdown:hover .dropdown-content {
  display: block;
}

main {
  grid-area: main;
  padding-left: 3rem;
  padding-right: 3rem;
}

code {
  background-color: grey;
  padding: 0.5rem;
  display: flex;
}

main img {
  width: 100%;
  height: auto;
  max-width: 40vw;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

.color-item {
  width: 95%;
  font-size: 32px;
  padding: 2rem;
}

.color-list {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: flex-start;
}

.color-1 {
  background-color: #ff9f0e;
}

.color-2 {
  background-color: #373746;
}

.color-3 {
  background-color: #222222;
}

.color-4 {
  background-color: #ffffff;
  color: #000000;
}

.color-5 {
  background-color: #000000;
}

/* Styling for the navigation button */

.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  border-bottom-color: rgb(66, 66, 66);
}

.example-button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-bottom-width: 0.15rem;
  border-bottom-style: solid;
  border-bottom-color: black;
}

/* .button-nav:hover,
.button-nav:focus {
    background-color: rgb(200, 200, 200);
} */

/* 
  TEXT ELEMENTS -------------------
*/

.typography {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 20px;
}

.grid-item-1 {
  grid-column: span 2;
}

.grid-item-2 {
  grid-column: span 2;
}

.grid-item-3 {
  grid-column: span 2;
}

.grid-item-4 {
  grid-column: span 2;
}

.grid-item-5 {
  grid-column: span 2;
}

.grid-item-6 {
  grid-column: span 1;
}

.grid-item-7 {
  grid-column: span 1;
}

.grid-item-8 {
  grid-column: span 1;
}

.grid-item-9 {
  grid-column: span 1;
}

.grid-item-10 {
  grid-column: span 1;
}

.grid-item-11 {
  grid-column: span 1;
}

.grid-item-12 {
  grid-column: span 2;
  align-self: end;
  margin-left: 1rem;
  margin-top: 1rem;
}

.main h3 {
  padding-left: 1rem;
}

.main h4 {
  padding-left: 1rem;
}

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5 {
  margin: 0;
  padding-left: 2rem;
  padding-top: 2rem;
}

body p {
  width: 100%;
  font-size: 1rem;
}

body h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 44px;
}

body h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

body h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

body h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

body h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.paragraph {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
}

.number-list {
  padding-right: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 3rem;
  font-size: 25px;
}

.number-list code {
  align-content: flex-end;
  margin-top: 0.5rem;
}

.text-link {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  padding-right: 2rem;
}

.text-link a {
  text-decoration: none;
}

.text-link a:hover {
  color: #c3996b;
}

.example-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-bottom: 3rem;
  justify-content: space-evenly;
}

.example-nav code {
  margin-top: 1rem;
  align-self: flex-end;
}

.example-nav a:hover:not(.active) {
  background-color: #555;
  color: #f1f1f1;
}

.example-nav a.active {
  background-color: #4caf50;
  color: white;
}

.button {
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  margin-bottom: 2rem;
  transition-duration: 0.4s;
}

.button-sm {
  border-radius: 5px;
  border: none;
  color: white;
  padding: 4px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 1rem;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: grey;
  color: white;
}

.button-sm:hover {
  background-color: rgb(102, 0, 0);
  color: white;
}

.button-standard {
  background-color: rgb(75, 75, 75);
}

.button-warning {
  background-color: #ff9f0e;
}

.button-confirm {
  background-color: #ff9f0e;
}

.button-danger {
  background-color: rgb(255, 51, 51);
}

.button-element {
  margin-left: 4rem;
}

input[type="text"],
select {
  width: 40%;
  padding: 6px;
  margin: 8px;
  min-width: 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.radio-input {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-left: 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-input input {
  font-size: 32px;
  margin-bottom: 1rem;
}

.select-input {
  margin-bottom: 1rem;
  margin-left: 3rem;
}

.image-link {
  margin-bottom: 4rem;
  margin-left: 4rem;
}

.zoom {
  height: 100%;
  overflow: hidden;
}

.zoom img {
  transition: transform 0.2s;
}

.zoom:hover img {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5);
}

.image-link code {
  margin-top: 2rem;
}

/* 
  COMBINED ELEMENTS ------------------- 
*/

.product-flexbox-container img {
  padding-top: 4rem;
  width: 80%;
}

.product-flexbox-container h3 {
  padding-left: 0;
}

.product-flexbox-container h4 {
  padding-left: 0;
}

.product-flexbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-flexbox-container-2 {
  border-left: 1px solid #c3996b;
  padding-left: 50px;
}

.product-flexbox-container-3 {
  display: flex;
  flex-direction: row;
}

.product-flexbox-container-4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.product-flexbox-container-4 input,
label {
  height: 110%;
  align-self: center;
}

.product-flexbox-container-4 .sets {
  margin-left: 1rem;
}

.product-flexbox-container-5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1rem;
}

.product-flexbox-container-sm {
  margin-left: 0;
  margin-right: 0;
  height: 100%;
  width: 50%;
}

/*
POTENTIAL IMAGERIES---------------------
*/

.image-flexbox-container {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.image-flexbox-container-sm {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
  margin-left: 2rem;
}

.image-flexbox-container-md {
  display: flex;
  flex-direction: row;
  width: 200%;
  height: 200%;
}

.image-flexbox-container-sm a img {
  max-width: 100%;
}

/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.project-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.project-text h1 {
  font-size: 8rem;
  font-family: "Montserrat", sans-serif;
  background: #ff9f0e;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
  user-select: none;
}

.project-text h6 {
  padding-top: 10rem;
  font-size: 2rem;
  font-weight: 300;
}

.project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.project-detail-heading-cover {
  text-align: left;
  text-transform: uppercase;
  line-height: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
  opacity: 0.5;
}

.project-detail-heading {
  text-align: left;
  display: flex;
  flex: 1;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}

.project-detail-heading-analysis h1 {
  text-align: left;
  text-transform: uppercase;
  display: flex;
  flex: 1;
  line-height: 0;
  margin-bottom: 1rem;
  font-size: 4rem;
}

.profile-img {
  flex: 1;
  width: 50rem;
}

.project-description {
  flex: 1;
  display: inline-block;
}

.project-description-title {
  flex: 1;
  display: inline-block;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
}

.project-description h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
  opacity: 0.5;
  text-transform: uppercase;
}

.project-description h6 {
  font-size: 1.7rem;
  font-weight: 300;
}

.project-reflection-heading h1 {
  font-size: 4rem;
  margin-top: 5rem;
  opacity: 0.5;
  font-weight: 300;
  text-transform: uppercase;
}

.project-reflection h6 {
  font-size: 1.7rem;
  font-weight: 300;
}

/*timeline*/
.timeline ul {
  border-left: 4px solid #ff9f0e;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  position: relative;
  padding: 5rem;
  list-style: none;
  text-align: left;
  width: 70%;
}

.timeline h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 1rem;
  opacity: 0.3;
}

.timeline .date {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.timeline .date:nth-last-of-type() {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .date::before,
.timeline .date::after {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

.timeline .date::before {
  content: attr(date-date);
  left: -21rem;
  text-align: right;
  min-width: 12rem;
  font-size: 1.5rem;
}

.copyright {
  width: 100%;
  text-align: center;
  background-color: rgb(41, 41, 41);
  padding: 1rem 0;
  position: relative;
}

.copyright p {
  font-size: 1.4rem;
}
