@media (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    padding-left: 0;
    padding-right: 0;
  }
  .head-list {
    justify-content: center;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .logo {
    max-width: 100%;
    height: auto;
    width: auto;
  }
  .collapsible {
    width: 20%;
  }
}

@media (max-width: 1000px) {
  .product-listing-column-1 {
    display: flex;
    max-width: 100%;
    justify-content: center;
  }
  .product-listing-container {
    margin-top: 0;
    padding-top: 0;
    justify-content: space-evenly;
  }
  .product-listing-column-2 {
    display: flex;
    max-width: 100%;
    justify-content: center;
  }
}

@media (min-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    padding-left: 0;
    padding-right: 0;
  }
  .product-listing-column-1 {
    margin-left: 2rem;
  }
  .head-list {
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
